
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/images/bg_login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    


.navbar {
    position: fixed; /* Fixes the navbar at the top */
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.7); */
    padding: 10px 20px;
    z-index: 1000; /* Ensures the navbar is on top of other elements */
 }

 .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
 }

 .navbar a:hover {
    background-color: #ddd;
    color: #333;
 }

 .navbar .logo {
    font-size: 20px;
    font-weight: bold;
 }

 .navbar .nav-links {
    display: flex;
    align-items: center;
 }

 .navbar .nav-links a {
    margin-left: 10px;
 }

.wrapper {
    width: 420px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
    position: fixed;
}

.wrapper h1 {
    font-size: 36px ;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot .label input {
    color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
    color: blue;
}

.wrapper .btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  width: 100%;
  height: 45%;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 600;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
}

.wrapper .btn :active {
    scale: 0.92;
}

.wrapper .btn:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }

  .wrapper.register-link {
    font-size: 14.5px;
    margin: 20px 0 15px; 
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    /* font-weight: 600; */
}

.register-link p a:hover{
    text-decoration: underline;
    color: blue;

}

